.header {
  &__ {

    &flex {}

    &logo {
      margin-right: unset !important;
      border: none !important;
      background: none !important;
      flex: 1 !important;
      &-wrapper {}
    }

    &navigation {
      flex: 5 !important;
      text-align: left !important;
      ul {
        text-align: left !important;
      }
    }

    &icons {}
  }
}