:root {
  --base-font-size: 20;
  --type-scale: 1.15;
  --primary-font: "Antiquarian Scribe";
  --secondary-font: Agenda-Medium;
  --primary-font-weight: 400;
  --secondary-font-weight: 400;
  --ui-font: Agenda-Medium;
  --ui-font-weight: 400;
  --title-font: var(--primary-font);
  --title-font-weight: var(--primary-font-weight);
  --body-font: var(--secondary-font);
  --body-font-weight: var(--secondary-font-weight);
  --site-title-font: var(--primary-font);
  --site-title-font-weight: var(--primary-font-weight);
  --headline-font: var(--primary-font);
  --headline-font-weight: var(--primary-font-weight);
  --section-title-font: var(--primary-font);
  --section-title-font-weight: var(--primary-font-weight);
  --section-callout-font: var(--primary-font);
  --section-callout-font-weight: var(--primary-font-weight);
  --attribution-font: var(--ui-font);
  --attribution-font-weight: var(--ui-font-weight);
  --navigation-font: var(--ui-font);
  --navigation-font-weight: var(--ui-font-weight);
  --product-price-font: var(--ui-font);
  --product-price-font-weight: var(--ui-font-weight);
  --button-font: var(--ui-font);
  --button-font-weight: var(--ui-font-weight);
  --primary-color: #99612e;
  --color-secondary-midnight-green-rbtCpq: #4c3418;
  --color-secondary-midnight-green-gvjIWm: #f0efec;
  --color-secondary-upEVrN: #30291d;
  --color-secondary-hiCEwS: #5c4923;
  --gray-light-one: #f8f7f7;
  --gray-light-two: #e6e6e6;
  --gray-dark: #4d4d4d;
  --color-white: #ffffff;
  --color-black: #000000;
  --primary-bright-dark: #693e17;
  --primary-subtle-dark: #30261d;
  --primary-bright-light: #e8be96;
  --primary-subtle-light: #f5f2ef;
  --primary-contrast-color: #ffffff;
  --secondary-bright-dark: #2d3953;
  --secondary-subtle-dark: #1d2330;
  --secondary-bright-light: #acb9d2;
  --secondary-subtle-light: #eff1f5;
  --secondary-contrast-color: #000000;
  --site-background-color: var(--color-white);
  --gutter-column-xs: 16px;
  --gutter-column-sm: 16px;
  --gutter-column-md: 16px;
  --gutter-column-lg: 16px;
  --gutter-column-xl: 16px;
  --gutter-row-xs: 16px;
  --gutter-row-sm: 16px;
  --gutter-row-md: 16px;
  --gutter-row-lg: 16px;
  --gutter-row-xl: 16px;
}